PORT=8080
MYSQL_DSN=qare:change-me@tcp(127.0.0.1:3306)/qare
FRONTEND_ORIGIN=http://localhost:3000
# For a hosted MySQL service, point to its CA certificate PEM file.
# MYSQL_CA_CERT_PATH=C:/path/to/ca.pem
